.container-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("imagen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#tema{
  font-weight:bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}
/* Estilos para el párrafo */
#parrafo {
  color:rgb(14, 13, 13);
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}
.example-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.example-full-width {
  margin-left: 0;
  margin-right: 170px;
  width: 100%;
  
}


.container-imagen-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.imagen-izquierda {
  width: 350px;
  height: 512px;
  border-radius: 0px;
}

.form-container {
  flex: 1;
  max-width: 410px; /* Puedes ajustar este valor según el ancho deseado */
  max-height: 350;
  padding: 20px;
  border-radius: 0px;
  background-color: white;
  justify-content: center;
}
.container-examen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container {
  text-align: center;
  margin-top: -20px;
}

.example-button-row button {
  padding: 12px 40px;
  font-size: 16px; 
  background-color:#c7b43f;
  color: black;
}

.boton-contraseña button {
 
  text-decoration: underline;
}
