.container-inicio {
    background-image: url(registro1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative; /* Asegura que la posición del contenedor sea relativa */
  
    /* Agrega la capa oscura con un fondo semi-transparente */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      
    }
  }
  .example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    }
   
    
    td {
      padding-right: 8px;
    }
    
    .titulo {
      text-align: center;
    }
    
    #tema {
      margin-top: 50px;
      margin-bottom: 20px;
      margin-left: 100px;
      margin-right: 100px;
      text-align: center;
      color: rgb(255, 255, 255);
      background-color: transparent;
      font-size: 40px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .nb{
    
      margin-right: 15px;
      margin-left: 30px;
    }
    .nb1{
    
      margin-right: 30px;
      margin-left: 15px;
    }
    .corr{
      margin-left: -260px;
      
    }
    
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 30px;
      color: rgb(255, 255, 255);
      margin-bottom: 30px;
    }
    .linea-vertical {
      border-left: 1px solid #000; /* Grosor, estilo y color de la línea */
      height: 50px; /* Altura de la línea */
    }
  
    
    .boton-contraseña {
      font-style: italic;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px 30px;
      
    }