<div class="container-inicio">
    <form class="example-form" #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
        <h1 id="tema">Registrate<br></h1>

        <table class="example-full-width " cellspacing="4">
            <p style="color: black; margin-left: 50px;"> Nombre: </p>
            <p style="color: rgb(255, 255, 255); text-align:right;margin-top: -35px;margin-right: -90px;"> Apellido:
            </p>
            <tr>

                <td><mat-form-field class="example-full-width nb ">
                        <mat-label>Nombre: </mat-label>
                        <input matInput type="String" placeholder="Nombre" name="nombre" id="nombre"
                            [(ngModel)]="usunombre" required />
                    </mat-form-field>
                </td>
                <td><mat-form-field class="example-full-width nb1">

                        <mat-label>Apellido</mat-label>
                        <input matInput type="String" placeholder="Apellido" name="apellido" id="apellido"
                            [(ngModel)]="usuapellido" required />
                    </mat-form-field>
                </td>
            </tr>
        </table>
        <table class="example-full-width " cellspacing="4">
            <p style="color: rgb(255, 255, 255); margin-left: 50px;"> Correo: </p>
            <p style="color: rgb(255, 255, 255); text-align:right;margin-top: -35px;margin-right: -90px;"> Telefono:
            </p>
            <tr>

                <td><mat-form-field class="example-full-width nb ">
                        <mat-label>Correo</mat-label>
                        <input matInput type="String" placeholder="Correo" name="correo" id="correo"
                            [(ngModel)]="usucorreo" required pattern="^[a-zA-Z0-9._%+-]+@gmail\.com$" />
                    </mat-form-field>
                </td>
                <td><mat-form-field class="example-full-width nb1">

                        <mat-label>Telefono</mat-label>
                        <input matInput type="String" placeholder="Telefono" name="telefono" id="telefono"
                            [(ngModel)]="usutel" required />
                    </mat-form-field>
                </td>
            </tr>

        </table>
        <table class="example-full-width" cellspacing="2">
            <p style="color: rgb(255, 255, 255); margin-left: 50px;"> Contraseña: </p>


            <tr>
                <td><mat-form-field class="example-full-width nb">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="String" placeholder="Contraseña" name="contraseña" id="contraseña"
                            [(ngModel)]="usupass" required />
                    </mat-form-field>
                </td>
                <td><mat-form-field class="example-full-width nb1">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input matInput type="password" placeholder="....." type="password" name="confirmPassword"
                            [(ngModel)]="confirmPassword" ngModel required>
                    </mat-form-field></td>
            </tr>
        </table>
        <section class="button-container">
            <div class="example-button-row">

                <button (click)="onUsuarios()" mat-fab extended color="white">Registrarse Ahora
                </button>
            </div>
        </section>
    </form>


</div>