.fondo {
    background-image: url('dashboard2.jpg'); /* Reemplaza 'ruta_de_la_imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }